@import url('https://fonts.googleapis.com/css2?family=Diplomata&family=Diplomata+SC&family=Lugrasimo&family=Marko+One&display=swap');

:root{
    /*Fonts*/
    --fDiplomata: "Diplomata", serif;
    --fDiplomataSC: "Diplomata SC", serif;
    --fLugrasimo: "Lugrasimo", cursive;
    --fMarko1: "Marko One", serif;
    /* --fCalibri: calibri, arial; */
    --FW: 400;
    /*Colors*/
    --lBlue: #0676B5;
}

body{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
main{
    width: 40vw;
}

h1, h2, h3, p, a, span{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    font-family: var(--fDiplomata);
    color: var(--lBlue);
    font-weight: 100;
}
h2{
    font-family: var(--fLugrasimo);
    color: var(--lBlue);
    font-weight: 100;
}
h3{
    /* font-family: var(--fCalibri); */
    color: var(--lBlue);
}

a{
    text-decoration: none;
    /* font-family: var(--fCalibri); */
    color: white;
    background-color: var(--lBlue);
    height: 50px;
    width: 200px;
    border-radius: 25px;
}
a:hover{
    background-color: lightblue;
}
span{
    margin: auto 0;
    padding: 0;
    text-align: center;
    /* font-family: var(--fCalibri); */
}


.p1{
    /* font-family: var(--fCalibri); */
}
.p2{/*Bolder*/
    /* font-family: var(--fCalibri); */
}

.oneColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.oneColumn:fir{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.twoColumns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.number{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    border: solid black 1px;
    color: white;
    background: linear-gradient(0deg, rgba(6,118,181,1) 0%, rgba(148,187,233,1) 50%, rgba(6,118,181,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    font-weight: 900;
}

