@import url('https://fonts.googleapis.com/css2?family=Diplomata&family=Diplomata+SC&family=Lugrasimo&family=Marko+One&display=swap');

:root{
    /*Fonts*/
    --fDiplomata: "Diplomata", serif;
    --fDiplomataSC: "Diplomata SC", serif;
    --fLugrasimo: "Lugrasimo", cursive;
    --fMarko1: "Marko One", serif;
    --fCalibri: calibri, arial;
    --FW: 400;
    /*Colors*/
    --lBlue: #0676B5;
}

body{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, a, span{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    font-family: var(--fDiplomata);
    color: var(--lBlue);
    font-weight: 100;
}
h2{
    font-family: var(--fLugrasimo);
    color: var(--lBlue);
    font-weight: 100;
}
h3{
    font-family: var(--fCalibri);
    color: var(--lBlue);
}

.p1{
    font-family: var(--fCalibri);
}
.p2{
    font-family: var(--fCalibri);
    font-weight: 700;
}

a{
    text-decoration: none;
    font-family: var(--fCalibri);
    color: white;
    background-color: var(--lBlue);
    height: 50px;
    width: 200px;
    border-radius: 25px;
}
a:hover{
    background-color: lightblue;
}
span{
    display: block;
    margin: auto 0;
    padding: 0;
    text-align: center;
    font-family: var(--fCalibri);
}

.fecha{
    width: 100%;
}
.fecha__seccion{
    margin: 0 10px;
    padding: 0 5px;
    display: flex;
    align-items: center;
}
.fecha__seccion--1{
        border-right: solid var(--lBlue) 2px;
}
.fecha__seccion--2{
    border-left: solid var(--lBlue) 2px;
}