@import url('https://fonts.googleapis.com/css2?family=Allura&family=Great+Vibes&family=Marck+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*Fonts*/
    --fontUno: "Allura", cursive;
    --fontDos: "Marck Script", cursive;
    --fontTres: "Montserrat", sans-serif;
    --FW: 400;
    /*Colors*/
    --lBlue: #0676B5;
    --colorUno: #545454;
    --colorDos: #E3B900;
    --colorWhite: #fff;
    --boxShadom: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

body {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

h1,
h2,
h3,
p,
a,
span {
    margin: 0;
    padding: 0;
    text-align: center;
}

h3 {
    font-family: var(--fontUno);
    color: var(--lBlue);
}


span {
    display: block;
    margin: auto 0;
    padding: 0;
    text-align: center;
    font-family: var(--fontUno);
}